@font-face {
    font-family: "Main";
    src: url("/assets/MC.ttf");
}

@font-face {
    font-family: "Other";
    src: url("/assets/MC.ttf");
}



body {
    background-image: url('/assets/cuts.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    height: 35px;
    width: 550px;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 90px;
    box-shadow: 0 0px 3px rgb(81, 0, 156);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    -webkit-touch-callout: none;
    -webkit-user-select: none;SS
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo img {
    margin-top: 5px;
    margin-left: px;
    width: 30px;
    height: 30px;
    -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.title {
    flex-grow: 1;
    text-align: center;
    color: #ffffffc4;
    font-size: 23px;
    font-family: Main;
    margin-top: -5px;
    margin-left: -240px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title p {
    font-family: Main;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.links a {
    font-family: Main;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.glowing-text, .changing-text {
    font-size: 100px;
    color: rgb(162, 0, 255);
    text-align: center;
    animation: glow 1.5s infinite alternate;
    margin-top: -5px;
}

.glowing-text {
    font-family: Main;
}

.changing-text {
    font-family: Main;
    margin-top: 3px;
    font-size: 25px;
}


.menu1 {
    position: absolute;
    top: 25px;
    right: 60px;
    z-index: 1000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu2 {
    background: none;
    border: none;
    color: #fff;
    font-size: 35px;
    left: px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown {
    display: none;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: -13px;
    z-index: 1000;
    font-family: Main;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown a {
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown.show {
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toppart {
    display: flex;
    align-items: center;
    color: white;
    top: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;SS
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    

