
body {
  background: url(cuts.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

body:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0); 
z-index: 1;
}
body > * {
position: relative;
z-index: 2;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(7px);
}

.proceed-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: fixed;
}

.proceed-button:hover {
  text-decoration: underline;
  color: black;
}


.temp-rectangle {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 700px;
height: 350px;
border-radius: 25px;
background-color: white;
}

.line {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 650px;
height: 1px;
border-radius: 5px;
background-color: rgb(255, 255, 255);
background: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 255, 255), rgb(255, 0, 0), rgb(255, 255, 255), rgba(255, 0, 0, 0));

}

.pfp {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-240%, -125%);
width: 130px;
height: 125px;
filter: drop-shadow(0 0 7px #af0000);
border-radius: 90px;
}

#triptych-name {
position: fixed;
top: 50%;
left: 940px; 
transform: translate(-90%, -400%);
color: #ffffff;
filter: drop-shadow(0 0 10px #af0000);
font-family: 'Futura', 'Futura PT', 'FuturaStd-Light', 'Futura Std Light', 'FuturaStd-Book', 'Futura Std Book', 'Futura PT Book', 'Futura', sans-serif;
}


#telegram-hover {
position: fixed;
top: 50%;
left: 50%;
width: 40px;
height: 40px;
transform: translate(-50%, 175%);
filter: drop-shadow(0 0 5px #af0000);
transition: transform 0.5s ease;
}

#telegram-hover:hover {
transform: translate(-50%, 175%) scale(1.3);
}

.github {
position: fixed;
top: 52%;
left: 50.7%;
width: 40px;
height: 40px;
transform: translate(50%, 130%);
filter: drop-shadow(0 0 5px #af0000);
transition: transform 0.5s ease;
}

.github:hover {
transform: translate(50%, 130%) scale(1.3);
}

.discord {
position: fixed;
top: 50%;
left: 50%;
width: 45px;
height: 32px;
transform: translate(-165%, 237%);
transition: transform 0.5s ease;
filter: drop-shadow(0 0 1.5px #af0000);
}

.discord:hover {

transform: translate(-165%, 237%) scale(1.3);
}

.premium {
  position: fixed;
  top: 147px;
  left: 473px;
  width: 25px;
  height: 25px;
  transform: translate(50%, 130%);
  filter: drop-shadow(0 0 0.3px #ff0000);
  transition: transform 0.5s ease;
  -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
  }

  .premium-text {
    position: absolute;
    top: 130px;
    left: 496.5px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0px 3px rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    height: 20px;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.premium:hover .premium-text {
  top: 136px;
  left: 496.5px;
    visibility: visible;
    opacity: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  .premium:hover {
  -webkit-touch-callout: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
  }


.quote {
position:fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #ffffff;
filter: drop-shadow(0 0 6px #510080);
}

.aka {
position: fixed;
top: 50%;
left: 950px;
transform: translate(-150%, -600%);
opacity: 0.7;
color: #ffffff;
filter: drop-shadow(0 0 4px #af0000);
font-family: 'Futura', 'Futura PT', 'FuturaStd-Light', 'Futura Std Light', 'FuturaStd-Book', 'Futura Std Book', 'Futura PT Book', 'Futura', sans-serif;
}

#snow {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
pointer-events: none;
}
